pyproj==2.6
geopandas
rtree
psycopg2-binary
loguru
postgis
ptvsd
Flask
flask_restful
flask_cors
marshmallow
webargs
pyyaml
geobuf
geojson
asyncio
zipstream
pyshp 
pyyaml 
osm_humanized_opening_hours 
boto3
requests
